In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
queries = pd.read_csv('within-150m-time.csv')
train_queries = queries[queries['time'] <= 20110000]
# test_queries = queries[queries['time'] >= 20090000]
paths = pd.read_fwf('paths(0:10996).csv', header=None,infer_nrows=10997)
paths = paths[0].str.split(',', expand=True)
paths.replace(to_replace=[None], value= -1, inplace=True)
lst = train_queries.index.values.tolist()
train_paths = paths[paths.index.isin(lst)]

In [3]:
train_paths

,0,1,2,3,4,5,6,7,8,9,...,224,225,226,227,228,229,230,231,232,233
0,28777,28045.0,28046.0,28047.0,30135.0,28873.0,28872.0,27818.0,27819.0,27820.0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,52455,52454.0,52453.0,52491.0,47681.0,47682.0,47683.0,47684.0,47685.0,47686.0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,36506,36507.0,39755.0,39204.0,39207.0,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,25977,26004.0,26005.0,25992.0,25993.0,26415.0,26416.0,26417.0,27815.0,27816.0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,37341,37342.0,37343.0,37344.0,36584.0,39203.0,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10992,55037,55036.0,55400.0,54718.0,54719.0,55344.0,55345.0,55346.0,55347.0,55348.0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
10993,55037,55036.0,55400.0,54718.0,54719.0,55344.0,55345.0,55346.0,55347.0,55348.0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
10994,57465,57464.0,57482.0,57481.0,57922.0,57921.0,58021.0,58042.0,57915.0,57212.0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
10995,49595,45993.0,45992.0,45991.0,46021.0,50867.0,49426.0,51535.0,46504.0,46118.0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
10996,55401,55036.0,55037.0,54989.0,54990.0,54991.0,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [4]:
train_queries.reset_index(drop=True, inplace=True)
train_paths.reset_index(drop=True, inplace=True)
# test_queries.reset_index(drop=True, inplace=True)

In [5]:
train_queries.to_csv('train_queries.csv',index=False)
train_paths.to_csv('train_paths.csv',index=False,header=False)

In [6]:
train_paths

,0,1,2,3,4,5,6,7,8,9,...,224,225,226,227,228,229,230,231,232,233
0,28777,28045.0,28046.0,28047.0,30135.0,28873.0,28872.0,27818.0,27819.0,27820.0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,52455,52454.0,52453.0,52491.0,47681.0,47682.0,47683.0,47684.0,47685.0,47686.0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,36506,36507.0,39755.0,39204.0,39207.0,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,25977,26004.0,26005.0,25992.0,25993.0,26415.0,26416.0,26417.0,27815.0,27816.0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,37341,37342.0,37343.0,37344.0,36584.0,39203.0,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9609,55037,55036.0,55400.0,54718.0,54719.0,55344.0,55345.0,55346.0,55347.0,55348.0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
9610,55037,55036.0,55400.0,54718.0,54719.0,55344.0,55345.0,55346.0,55347.0,55348.0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
9611,57465,57464.0,57482.0,57481.0,57922.0,57921.0,58021.0,58042.0,57915.0,57212.0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
9612,49595,45993.0,45992.0,45991.0,46021.0,50867.0,49426.0,51535.0,46504.0,46118.0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
9613,55401,55036.0,55037.0,54989.0,54990.0,54991.0,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1